:root{
    --cl-negro: #000000;
    --cl-blanco: #ffffff;
    --cl-fondo: #f1f0eb;
    --cl-rosaH: #bb5c6a;
    --cl-beige:rgb(236, 226, 219);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info {
    display: flex;
    align-items: center;
    padding: 0.9rem 1.5rem;
    background-color: var(--cl-rosaH);
    color: var(--cl-blanco);
}

/* IZQUIERDA */
.contacto {
    display: flex;
    gap: 1.5rem;
}

/* CENTRO */
.redes {
    display: flex;
    gap: 1rem;
    margin: 0 auto; /* 🔥 esto las centra */
}

.redes a {
    color: var(--cl-blanco);
    display: flex;
    align-items: center;
}

/* DERECHA */
.usuario {
    display: flex;
    align-items: center;
}

.logeado {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.logout {
    background: transparent;
    border: none;
    color: var(--cl-blanco);
    cursor: pointer;
}


/* Menú principal */
.menu {
    display: flex;
    align-items: center;
    background-color: var(--cl-beige);
    padding: 1rem 1.5rem;
}

.menu img {
    width: 100px;
    display: block;
}

/* Links */
.links {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    
}

.link-nav {
    text-decoration: none;
    color: var(--cl-negro);
    font-weight: 500;
    font-size: 1.1rem;
    background: transparent;      /* sin fondo */
    border: none;                 /* sin borde */
    padding: 0.3rem 0;
    position: relative;
    transition: all 0.3s ease;
}

/* Línea rosa al pasar el ratón */
.link-nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: var(--cl-rosaH);
    transition: width 0.3s ease;
}

.link-nav:hover::after {
    width: 100%;
}
