:root{
    --cl-negro: #000000;
    --cl-blanco: #ffffff;
    --cl-fondo: #f3f2ed;
    --cl-rosaH: #bb5c6a;
    --cl-header:rgb(236, 226, 219);
    --cl-resena: #e7e5e1;
}

body{
    background-color: var(--cl-fondo);
    margin: 0;
    padding: 0;
}

.home {
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    overflow-x: hidden;
    display: flex;      
    flex-direction: column;  
}

.hero {
    width: 100%;
    height: 70vh;
    position: relative;
    height: 70vh;
    
    background-size: cover;
    background-position: center 25%;
    background-repeat: no-repeat;
}

.hero__overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.58); /* oscurece la imagen */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__contenido {
    width: 100%;
    padding: 0 70px;
    

    text-align: left;
    color: var(--cl-blanco);
}

.hero__titulo {
    margin-bottom: 90px;
    font-family: 'Cinzel', serif;
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #FFD52F;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
.hero__subtitulo {
    text-align: right;
    font-family: 'Cinzel', serif;
    font-size: 32px;
    font-weight: 400;
    color: white;
    margin-top: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.hero__texto {
    font-size: 1.2rem;
    border-bottom: 1px solid var(--cl-blanco); /* efecto línea del boceto */
    padding-bottom: 5px;
    width: fit-content;
    align-self: flex-end;
}

/* TARJETA CENTRAL */

.presentacion {
    width: 100%;
    padding: 100px 0;
    
    background-color: var(--cl-fondo);
    }

.presentacion__card {
    width: 100%;

    display: flex;
    gap: 40px;
    align-items: center;
    background: var(--cl-blanco);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
    padding: 50px;
}

.presentacion__imagenes {
    flex: 1;
}

.presentacion__img {
    width: 600px;
    object-fit: cover;
    border-radius: 12px;
}

.presentacion__texto {
    flex: 1;
}

.presentacion__titulo {
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
}

.presentacion__titulo::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--cl-rosaH); /* color rosado del header */
    margin-top: 10px;
}

.presentacion__descripcion {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 1rem;
}

/* RESEÑAS */

.resenas {
    width: 100%;
    padding: 100px 20px;
    background-color: var(--cl-blanco);

    display: flex;
    flex-direction: column;
    align-items: center;
    }

.resenas__titulo {
    font-size: 2rem;
    margin-bottom: 60px;
    text-align: center;
}

.resenas__titulo::after {
    content: "";
    width: 80px;
    height: 3px;
    background-color: var(--cl-rosaH);
    display: block;
    margin: 15px auto 0;
}

.resenas__grid {
    width: 100%;
    max-width: 1200px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}

.resena {
    text-align: center;
    background: var(--cl-resena);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.resena:hover {
    transform: translateY(-6px);
}

.resena__nombre {
    font-weight: 600;
    margin-bottom: 5px;
}

.resena__estrellas {
    color: #f5b301; /* amarillo google */
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.resena__texto {
    font-size: 1rem;
    line-height: 1.5;
}

@media (max-width: 900px) {
    .hero__contenido {
        text-align: center;
    }

    .hero__texto {
        align-self: center;
    }

    .presentacion__card {
        flex-direction: column;
        padding: 30px;
    }

    .presentacion__img {
        height: 250px;
    }

    .hero__titulo {
        font-size: 2rem;
    }
}

@media (max-width: 1200px) {
    .hero__titulo {
        white-space: normal;
        font-size: 40px;
    }
}
